# 11.1 Different Subject Multi-fact: The Book Sales Case Study

This case study describes a bookshop that operates several stores and sells books. The data warehouse design must allow analysis of book sales and book reviews.

From the E/R diagram, we have several operational entities such as:
- **Book**, **Author**, **Publisher**, **Category**, **Store**, **Sales**, and **Review**.

After analyzing the requirements, there are three important **fact measures**:
1. Total sales  
2. Number of books sold  
3. Number of reviews  

These measures lead to **two separate subjects (multi-facts)**:
- **Book Sales Fact** (total sales, number of books sold)
- **Review Fact** (number of reviews)

Each subject connects to several **dimensions**:
- **Store Dimension** – where the sale occurred  
- **Time Dimension** – when the sale occurred  
- **Category Dimension** – what type of book  
- **Star Rating Dimension** – customer rating of a book  

Both fact tables share **Category** and **Star Rating** dimensions.  
The resulting star schema is shown conceptually below:

In [1]:
import pandas as pd

category_dim = pd.DataFrame({
    'CategoryID': [1, 2, 3],
    'CategoryDescription': ['Fiction', 'Non-Fiction', 'Science']
})
star_dim = pd.DataFrame({
    'StarID': [1, 2, 3, 4, 5],
    'StarDescription': ['1 Star', '2 Stars', '3 Stars', '4 Stars', '5 Stars']
})
store_dim = pd.DataFrame({
    'StoreID': [101, 102],
    'Address': ['Manila', 'Cebu'],
    'State': ['NCR', 'Central Visayas'],
    'Country': ['Philippines', 'Philippines']
})
time_dim = pd.DataFrame({
    'TimeID': [1, 2],
    'Month': ['January', 'February'],
    'Year': [2025, 2025]
})

book_sales_fact = pd.DataFrame({
    'StoreID': [101, 102],
    'CategoryID': [1, 3],
    'TimeID': [1, 1],
    'StarID': [4, 5],
    'Num_of_Books': [120, 80],
    'Total_Sales': [24000, 18000]
})

review_fact = pd.DataFrame({
    'CategoryID': [1, 3],
    'StarID': [5, 4],
    'Num_of_Reviews': [150, 90]
})
book_sales_fact, review_fact

(   StoreID  CategoryID  TimeID  StarID  Num_of_Books  Total_Sales
 0      101           1       1       4           120        24000
 1      102           3       1       5            80        18000,
    CategoryID  StarID  Num_of_Reviews
 0           1       5             150
 1           3       4              90)

In [2]:
category_sales = book_sales_fact.merge(category_dim, on='CategoryID')
category_sales.groupby('CategoryDescription')['Total_Sales'].sum()

CategoryDescription
Fiction    24000
Science    18000
Name: Total_Sales, dtype: int64

In [3]:
five_star_reviews = review_fact.merge(category_dim, on='CategoryID')
five_star_reviews = five_star_reviews[five_star_reviews['StarID'] == 5]
five_star_reviews[['CategoryDescription', 'Num_of_Reviews']]

  CategoryDescription  Num_of_Reviews
0             Fiction             150

### Summary

The Bookshop Data Warehouse was modeled as a **multi-fact star schema**, separating book sales and book reviews.
- **BookSalesFACT**: measures total sales and books sold.
- **ReviewFACT**: measures number of reviews.

Shared dimensions: Category and Star Rating.  
This structure enables flexible analysis, such as:
- Total sales per store and category per month
- Top categories with highest sales
- Total number of five-star reviews per category

Hence, the design satisfies all business questions defined in the case study.